body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

header {
  position: fixed; /* 既に指定されている場合 */
  z-index: 1000; /* 十分に大きな値を指定してコンテンツより前面に来るようにする */
}

.relative {
  position: relative;
  z-index: 0; /* 低い値を指定するか、この行を完全に削除 */
}

.form-container {
  overflow-y: auto; /* 縦スクロールバーを有効にする */
  padding: 1rem; /* 内容物との間隔を設定 */
}

/* サイドメニューの基本スタイル */
.side-menu {
  position: fixed;
  top: 0;
  right: -100%; /* メニューを画面外に隠す */
  width: 300px; /* メニューの幅 */
  height: 100%;
  background-color: #2d3748; /* サイドメニューの背景色 */
  transition: right 0.3s; /* スムーズなアニメーションのための遷移効果 */
}

/* メニュー表示時のスタイル */
.side-menu.active {
  right: 0; /* メニューを画面内に表示する */
}

/* メインコンテンツのコンテナ */
.main-content {
  transition: transform 0.3s; /* スムーズなアニメーションのための遷移効果 */
}

/* メニュー表示時のメインコンテンツのスタイル */
.main-content.menu-active {
  transform: translateX(-300px); /* メニューの幅に合わせて左に移動 */
}

/* 投稿一覧のgrid設定 */
.grid-container {
  display: grid;
  gap: 16px; /* アイテム間のギャップを16pxに設定 */
  padding: 16px; /* コンテナのパディングを16pxに設定 */
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

@media (max-width: 639px) {
  .grid-container {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

@media (min-width: 640px) and (max-width: 767px) {
  .grid-container {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .grid-container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 1024px) {
  .grid-container {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

.button-shared-style {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
  line-height: 1; 
  border-radius: 0.25rem;
  font-size: 0.875rem; /* 14pxのフォントサイズ */
  font-weight: 600;
  margin-right: 0.5rem; /* 右マージン8px */
  margin-bottom: 0.5rem; /* 下マージン8px */
  min-width: 50px; /* 最小幅をアイコンボタンと同じにする */
  height: 38px; /* ボタンの高さを固定 */
}

/* アイコンボタンスタイル */
.icon-button {
  padding: 0.5rem; /* アイコンのためのパディングを設定 */
  min-width: 50px; /* アイコンボタンにも同じ最小幅を設定する */
  height: 38px; /* ボタンの高さを固定する */
  vertical-align: middle;
}

/* 投稿 画像の設定 */
.image-preview-container {
  display: flex;
  overflow-x: auto;
  gap: 10px;
}

.image-preview-item {
  flex: 0 0 auto;
  max-width: 160px;
  max-height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-preview-item img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
